<ion-content padding>
  <ion-list no-lines>

    <form [formGroup]="loginForm">

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="login" type="text"></ion-input>

      </ion-item>
      <ion-item  *ngIf="!loginForm.controls.login.valid  && (loginForm.controls.login.touched || submitAttempt)">
        <p ion-text color="danger">
          <ion-icon name="warning"></ion-icon> Uzupełnij poprawny adres email
        </p>
      </ion-item>
      <ion-item>
        <ion-label floating>Hasło</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item  *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.touched || submitAttempt)">
        <p ion-text color="danger">
          <ion-icon name="warning"></ion-icon> Uzupełnij hasło
        </p>
      </ion-item>
    </form>
  </ion-list>
  <button ion-button full (click)="submit()">Zaloguj</button>

  <ion-list no-lines *ngIf="failedAttempt">
    <ion-item>
      <ion-icon color="danger" name="warning" item-start></ion-icon>
      <p ion-text color="danger">
        Nie udało się zalogować.
        Wprowadź poprawny email i hasło
      </p>
    </ion-item>
  </ion-list>

</ion-content>
