<!--
  Generated template for the RecipeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="activeSlide" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="0">
        Informacje
      </ion-segment-button>
      <ion-segment-button value="1">
        Przepis
      </ion-segment-button>
      <ion-segment-button value="2">
        Galeria
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-slides (ionSlideWillChange)="onSlideChanged()">

    <ion-slide>
      <ion-list>
        <ion-item>
          <ion-label>Temperatura:</ion-label>
          <ion-label>{{recipe?.Temperature}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Czas pieczenia:</ion-label>
          <ion-label>{{recipe?.Time}}</ion-label>
        </ion-item>
        <ion-card-header>
          Składniki
        </ion-card-header>
        <ion-list *ngFor="let group of recipe?.Engredients">
          <ion-item-divider>
            <p>{{group.Name}}</p>
          </ion-item-divider>
          <ion-item *ngFor="let eng of group.Positions">
            <p>{{eng.Name}}</p>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          {{recipe?.Recipe}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="card-background-page">
      <ion-grid>
        <ion-row>
          <ion-col col-6 col-lg-4 *ngFor="let image of recipe?.Gallery">
            <ion-card>
              <img [src]="image.url" (click)="showImage(image.url)">
              <div *ngIf="image?.isUploading == true">
                <ion-spinner></ion-spinner>
                <p>Przesyłanie zdjęcia</p>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-fab bottom right ion-fixed>
    <button ion-fab>
      <ion-icon name="add" *ngIf="activeSlide === '2'"></ion-icon>
      <ion-icon name="more" *ngIf="activeSlide !== '2'"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <div *ngIf="activeSlide === '2'">
        <button ion-fab (click)="addImageCamera()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-fab (click)="addImageFile()">
          <ion-icon name="image"></ion-icon>
        </button>
        <button ion-fab (click)="addImageUrl()">
          <ion-icon name="link"></ion-icon>
        </button>
      </div>
      <div *ngIf="activeSlide !== '2'">
        <button ion-fab>
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-fab>
          <ion-icon name="create"></ion-icon>
        </button>
      </div>
    </ion-fab-list>
  </ion-fab>
</ion-content>
