<div class="mobile-page-background">
  <div class="mobile-page-header">
    <ion-back-button></ion-back-button>
    Page name
    <ion-icon (click)="openMenu = !openMenu" name="menu" class="ion-float-right"></ion-icon>
    <div *ngIf="openMenu" [@collapse]>
      <div class="mobile-page-header-nav-item">
        Bążur
      </div>
      <div class="mobile-page-header-nav-item">
        Bążur
      </div>
    </div>
  </div>
  <div class="mobile-page-body">
    <router-outlet></router-outlet>
  </div>
</div>
