page-add-edit-recipe {
  textarea {
    resize: none;
  }

  //ion-textarea {
  //  textarea {
  //    height: calc(100vh - 360px)
  //  }
  //}

  ion-list,
  ion-item {
    margin: 0;
    padding: 0;
  }

  .simple-input {
    flex: 0 1 auto;
  }

  .full-input {
    flex: 1 1 auto;
    height: 70%;
    ion-textarea {
      height: 90%;
      textarea {
        height: 95%;
      }
    }
  }

}

//#f53d3d
