.yellow-theme {
  ion-content {
    background-color: #f9f1e4;
    .item, .card {
      background-color: #f9f1e4;
    }
  }


  ion-tabs {
    background-color: #f9f1e4;
  }

  .header .toolbar-background {
    background-color: #f9f1e4;
  }
}
