.light-theme {
  ion-content {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .toolbar-title {
    color: rgb(0, 0, 0);
  }

  .header .toolbar-background {
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
}
