.swiper-slide {
  overflow-y: scroll;
  display: block;
}

.modal-xsmall {

  .modal-wrapper {
    position: absolute !important;
    width: 270px !important;
    height: 170px !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }
}

.modal-small {
  .modal-wrapper {
    position: absolute !important;
    width: 270px !important;
    height: 300px !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }
}

.modal-full {
  .modal-wrapper {
    position: absolute !important;
    width: 100vw;
    height: 100vh;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
}

.modal {
  .backdrop {
    display: block !important;
  }
}

ion-modal {
  ion-backdrop {
    visibility: visible;
  }
}

.no-margin {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.segment-warning {
  color: #f53d3d !important;
  ion-icon {
    font-size: 20px !important;
  }
}

.placeholder-warning {
  input::placeholder {
    color: #f53d3d !important;
    text-decoration: underline;
  }
}

.label-warning {
  color: #f53d3d !important;
  text-decoration: underline;
}

ion-item {
  .disabled {
    color: lightgray;
  }
}

[has-header] {
  margin-top: 50px;
}

.pre-line {
  white-space: pre-line;
  text-align: left;
}

.full-content {
  div {
    height: 100%;
  }
  .flex-list {
    display: flex;
    flex-flow: column;
    height: calc(100% - 108px);
  }
}
