.swiper-slide {
  overflow-y: scroll;
  display: block;
}

.modal-xsmall {

  .modal-wrapper {
    position: absolute !important;
    width: 270px !important;
    height: 170px !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }
}

.modal-small {
  .modal-wrapper {
    position: absolute !important;
    width: 270px !important;
    height: 300px !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }
}

.modal-full {
  .modal-wrapper {
    position: absolute !important;
    width: 100vw;
    height: 100vh;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
}

.modal {
  .backdrop {
    display: block !important;
  }
}

ion-modal {
  ion-backdrop {
    visibility: visible;
  }
}

.no-margin {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.segment-warning {
  color: #f53d3d !important;
  ion-icon {
    font-size: 20px !important;
  }
}

.placeholder-warning {
  input::placeholder {
    color: #f53d3d !important;
    text-decoration: underline;
  }
}

.label-warning {
  color: #f53d3d !important;
  text-decoration: underline;
}

ion-item {
  .disabled {
    color: lightgray;
  }
}

[has-header] {
  margin-top: 50px;
}

.pre-line {
  white-space: pre-line;
  text-align: left;
}

.full-content {
  .scroll-content {
    height: calc(100% - 108px);
  }
  .scroll-content > div {
    height: 100%;
    .full-div {
      height: 100%;
    }
  }
  .scroll-content > div ~ div {
    height: auto;
  }
  .flex-list {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
}

.button-group {
  .col {
    &:first-child:not(:last-child) {
      padding-right: 0;
      .button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:not(:first-child):not(:last-child) {
      padding-right: 0;
      padding-left: 0;
      .button {
        border-radius: 0;
      }
    }
    &:last-child:not(:first-child) {
      padding-left: 0;
      .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
.no-bottom-margin {
  .fixed-content,
  .scroll-content {
    margin-bottom: 0 !important;
  }

}
