<ion-header no-border>
  <ion-toolbar>
    <ion-navbar>
      <ion-title>{{title}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="engredientsFraction($event)">
          <ion-icon name="pie"></ion-icon>
        </button>
        <button ion-button icon-only (click)="switchCookMode()">
          <ion-icon name="beaker" [color]="isCookMode ? 'primary' : ''"></ion-icon>
        </button>
        <button ion-button icon-only [disabled]="isFavouritesDisabled" (click)="addRemoveFromFavourites()">
          <ion-icon *ngIf="!recipe?.Favourite" name="star-outline"></ion-icon>
          <ion-icon *ngIf="recipe?.Favourite" name="star" color="secondary"></ion-icon>
        </button>
        <page-header-popover-button></page-header-popover-button>
      </ion-buttons>
    </ion-navbar>
    <ion-segment [(ngModel)]="activeSlide" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="0">
        Informacje
      </ion-segment-button>
      <ion-segment-button value="1">
        Przepis
      </ion-segment-button>
      <ion-segment-button value="2">
        Galeria
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides (ionSlideWillChange)="onSlideChanged()">

    <ion-slide>
      <ion-list>
        <ion-item>
          <ion-label>Temperatura:</ion-label>
          <ion-label>{{recipe?.Temperature}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Czas pieczenia:</ion-label>
          <ion-label>{{recipe?.Time}}</ion-label>
        </ion-item>
        <ion-card-header>
          Składniki
        </ion-card-header>
        <ion-list *ngFor="let group of recipe?.Engredients">
          <div *ngVar="{isCollapsed: false} as scope">
            <ion-item-divider (press)="scope.isCollapsed = !scope.isCollapsed">
              <p>{{group.Name}}</p>
              <!--<button item-end ion-button icon-only clear color="dark">-->
              <ion-icon (click)="scope.isCollapsed = !scope.isCollapsed" item-end *ngIf="!scope.isCollapsed"
                        name="arrow-dropup"></ion-icon>
              <ion-icon (click)="scope.isCollapsed = !scope.isCollapsed" item-end *ngIf="scope.isCollapsed"
                        name="arrow-dropdown"></ion-icon>
              <!--</button>-->
            </ion-item-divider>
            <div *ngIf="!scope.isCollapsed" [@collapse]>
              <div *ngFor="let eng of group.Positions">
                <div *ngIf="isCookMode">
                  <ion-item (click)="eng.isUsed = !eng.isUsed" >
                    <ion-icon item-right *ngIf="isCookMode && eng.isUsed" name="checkmark"></ion-icon>
                      <p [class.disabled]="isCookMode && eng.isUsed">{{eng.Name}}</p>
                      <p [class.disabled]="isCookMode && eng.isUsed">{{eng.Qty | numberPart: portionPart }} {{eng.Unit}}</p>
                  </ion-item>
                </div>
                <div *ngIf="!isCookMode">
                  <ion-item>
                    <p>{{eng.Name}}</p>
                    <p>{{eng.Qty | numberPart: portionPart }} {{eng.Unit}}</p>
                  </ion-item>
                </div>
              </div>
            </div>
          </div>
        </ion-list>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          {{recipe?.Recipe}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="card-background-page">
      <ion-grid>
        <ion-row>
          <ion-col col-6 col-lg-4 *ngFor="let image of recipe?.Gallery">
            <ion-card (press)="imagePressed(image)" (tap)="imageTapped(image)"
                      [class.image-selected]="selectedImages.indexOf(image.id) > -1">
              <img [src]="image.url">
              <div class="card-title" *ngIf="selectedImages.indexOf(image.id) > -1">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </div>
              <div class="card-title" *ngIf="image?.isUploading == true">
                <ion-spinner></ion-spinner>
                <p>Przesyłanie zdjęcia</p>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-fab bottom left ion-fixed *ngIf="!isCookMode">
    <button ion-fab color="secondary" (click)="share()">
      <ion-icon name="share"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right ion-fixed *ngIf="!isCookMode">
    <button ion-fab [color]="activeSlide === '2' && selectedImages.length > 0 ? 'danger' : 'primary'"
            (click)="removeImages()">
      <ion-icon name="add" *ngIf="activeSlide === '2' && !selectedImages.length > 0"></ion-icon>
      <ion-icon name="trash" *ngIf="activeSlide === '2' && selectedImages.length > 0"></ion-icon>
      <ion-icon name="more" *ngIf="activeSlide !== '2'"></ion-icon>
    </button>
    <ion-fab-list side="top" *ngIf="activeSlide !== '2' || !selectedImages.length > 0">
      <div *ngIf="activeSlide === '2' && !selectedImages.length > 0">
        <button ion-fab (click)="addImageCamera()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-fab (click)="addImageFile()">
          <ion-icon name="image"></ion-icon>
        </button>
        <button ion-fab (click)="addImageUrl()">
          <ion-icon name="link"></ion-icon>
        </button>
      </div>
      <div *ngIf="activeSlide !== '2'">
        <button ion-fab (click)="createNote()">
          <ion-icon name="bookmarks"></ion-icon>
        </button>
        <button ion-fab (click)="recipeRemove()">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-fab (click)="recipeEdit()">
          <ion-icon name="create"></ion-icon>
        </button>
      </div>
    </ion-fab-list>
  </ion-fab>
</ion-content>
